/* Reset de estilos padrão do navegador */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Estilo global */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

/* Estilo da navegação */
nav {
    background-color: #444;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

/* Estilo das seções */
section {
    padding: 1em;
    background-color: #fff;
    margin: 1em 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

/* Estilo para dispositivos móveis */
@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 0.5em 0;
    }
}
